.content {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/brand/landing_page_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.landing_background {
    position: relative;
    height: 400px;
    background: url("../images/brand/landing_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.landing_background1 {
    position: relative;
    height: 400px;
    background: url("../images/brand/landing-page-image3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.jumps-prevent {
    padding-top: 0px !important;
}
.header {
    background-color: transparent !important;
    border-bottom: 0px !important;
}
.form-control {
    border-color: white !important;
    line-height: 0;
}
#form-border {
    background-color: #FFFFFF;
    border-radius: 13px !important;
}
.rounded-form {
    border-radius: 13px !important;
}
#form-border input {
    background-color: #FFFFFF;
}
.box-sizing {
    box-sizing: border-box;
}
.inline-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.input {
    border: none;
}
.border-end {
    border-left: #ACACAC !important;
}
.header-right-icons {
    z-index: 9999 !important;
}
.button {
    padding: 0.4rem 0.76rem !important;
}
.my-font-size {
    font-size: 0.79rem !important;
}
@media screen and (max-width: 767px) {
    .my-font-size {
        font-size: 0.68rem !important;
    }
    .font-size {
        font-size: 0.68rem !important;
    }
    .heading_font{
        font-size: 1.7rem !important;
    }
}
@media screen and (max-width: 575px) and (min-width: 344px) {
    .my-font-size {
        font-size: 0.9rem !important;
    }
    .font-size {
        font-size: 0.9rem !important;
    }
    .border-end {
        border: none !important;
    }
    .border-end0 {
        border-bottom: #ACACAC solid 1px !important;
        padding-bottom: 1rem !important;
    }
    .border-end0.border-end{
        border-right:none!important;
    }
    .btn-search {
        width: 100% !important;
    }
    .font-size-h1 {
        font-size: 1.5rem !important;
    }
    .heading_font{
        font-size: 1.3rem !important;
    }
    .form-blur-border{
        border-radius: 0px!important;
        border: none!important;
    }
    .height-img{
        height: 550px !important;
    }
    .card_overlay{
        width: 20rem !important;
    }
}
@media screen and (max-width: 375px) and (min-width: 344px) {
    .card_overlay{
        width: auto !important;
    }
}
@media screen and (max-width: 345px) and (min-width: 0px) {
    .btn-search {
        width: 100% !important;
    }
    .border-end {
        border: none !important;
    }
    .border-end0 {
        border-bottom: #ACACAC solid 1px !important;
        padding-bottom: 1rem !important;
    }
    .border-end0.border-end{
        border-right:none!important;
    }
    .font-size-h1 {
        margin-bottom: 30px !important;
        font-size: 1.1rem !important;
    }
    .heading_font{
        font-size: 1.2rem !important;
    }
    .form-blur-border{
        border-radius: 0px!important;
        border: none!important;
    }
    .height-img{
        height: 550px !important;
    }
    .card_overlay{
        width: auto !important;
    }
}
.header .dropdown .second_drop {
    position: absolute !important;
    inset: 0px 3px auto auto !important;
    margin: 0px !important;
    top: 2.5rem !important;
}
#second_drop .dropdown-menu-arrow.dropdown-menu-end:before,
.dropdown-menu-arrow.dropdown-menu-end:after {
    left: auto;
    right: 16px;
}
.leading-none {
    z-index: 9999 !important;
}
.header .third_drop {
    top: 3.7rem !important;
    right: 0px !important;
    left: auto;
}
#third_drop .dropdown-menu-arrow.dropdown-menu-end:before,
.dropdown-menu-arrow.dropdown-menu-end:after {
    left: auto;
    right: 24px;
}
.header .dropdown .first_drop {
    top: 1.5rem!important;
}
.header .first_drop::before {
    left: 15px !important;
    right: auto !important;
}
.edit-profile-3 {
    transform: translate(0px, 0px) !important;
}
.input_placeholder::placeholder {
    color: black;
}
.image-h1 {
    font-weight: bolder;
    font-size: 2.5rem;
}
.image-form {
    margin-top: 95px;
}
.over_lay {
    position: absolute;
    background-color: #00224fd1;
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 9999;
    bottom: 0px;
    margin: 10px;
}
.over_lay h5 {
    font-weight: 450;
}
.over_lay p {
    font-size: 13px;
}
.card_height {
    height: 260px;
    width: 100%;
}
.btn-color {
    background-color: #006CE4 !important;
}
.form-blur-border{
    border-radius: 20px;
    border: 8px solid rgba(153, 150, 150, 0.411);
}
@media (max-width: 991px){
    .header.hor-header {
        position: absolute !important;
    }
}
.rounded-btn{
    border-radius: 50px!important;
}
.content-width{
    width: 100%!important;
}
.owl-carousel .owl-nav button.owl-prev{
    background-color: #006CE4!important;
    color: white!important;
    border: none !important;
}
.owl-carousel .owl-nav button.owl-next{
    background-color: #006CE4!important;
    color: white!important;
    border: none !important;
}
@media(min-width:0px) and (max-width:400px){
    .nav_log{
        width: 150px !important;
    }
}
.flatpickr-calendar.hasTime.animate.arrowTop.arrowLeft.open {
    top: 465px  !important;
    left: 171px !important;
    right: auto !important;
    width: 76% !important;
}
.flatpickr-current-month {
    width: 18% !important;
    left: 4.5% !important;
}
.flatpickr-next-month {
    left: -500px !important;
}
.flatpickr-time{
    position: relative !important;
    top: -195px !important;
    width: 50% !important;
    left: 416px !important;
    border: 1px solid #E5E5E5 !important;
}
